<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }} — {{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div><strong>{{ site.title }}</strong></div>
                <div class="nav">
                    <a href="/">Home</a>
                </div>
            </div>

            {{ content }}
        </div>

        <script>
            const cards = document.querySelectorAll(".card");
            cards.forEach((card, i) => {
                card.style.animationDelay = `${i * 0.1}s`;
            });
        </script>
    </body>
</html>
